@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --rsbs-max-w: 36rem;
  --rsbs-ml: auto;
  --rsbs-mr: auto;
}

body {
  background-color: #eceff3;
}
